body{background-color: #cde8f6;}

hr{

border-style: none;
border-top-style: dotted;

border-color: greey;
border-width: 5px;}

h1{color: #0033c7;}

h2{color: #fa86be}

h3{color: #fa86be}
